<Doctype HTML>
    
    <head>
      <script src="https://vuejs.org/js/vue.js"> </script>
    </head>
    
    <body>
      <div id="app">
        <div id="err" v-if="!hasData">
          <p>Sorry for the complete lack of CSS. Maybe submit a PR to fix it for me :)
          <p>To use this tool you need to have a confidential app registered on bungie.net</p>
          <p>The redirect url should be set to <a href="https://elviswolcott.github.io/">https://elviswolcott.github.io/bungie_token_grabber/res.html</a></p>
          <p>And the origin should be <a href="https://elviswolcott.github.io/">https://elviswolcott.github.io/</a></p>
          <p>Please enter you app deatails below</p>
          <input type="text" v-model="id" placeholder="client_id"></text>
          <input type="text" v-model="key" placeholder="api key"></text>
          <input type="text" v-model="secret" placeholder="secret"></text>    
          <button @click="save">Save</button>
        </div>
        <div id="pass" v-if="hasData">
          <a :href="'https://www.bungie.net/en/OAuth/Authorize?client_id=' + id + '&response_type=code'"><button style="width: 400px; height: 100px;">Sign in</button></a>
          <button style="height: 100px;" @click="reset">Reset</button>
        </div>
      </div>
    </body>
    
    <script>
      var vm =  new Vue({
        el: '#app',
        data: {
          id: '',
          key: '',
          secret: '',
          hasData: false
        },
        methods: {
          save: function(){ if(localStorage.getItem('id') && localStorage.getItem('key') &&  localStorage.getItem('secret')) { this.hasData = true } },
          reset: function() { localStorage.clear(); this.hasData = false; this.id = ''; this.key= ''; this.secret = '';}
        },
        watch: {
          id: function(val) {
            localStorage.setItem('id', val);
          },
          key: function(val) {
            localStorage.setItem('key', val);
          },
          secret: function(val) {
            localStorage.setItem('secret', val);
          }
        },
        created: function() {
          if(localStorage.getItem('id') && localStorage.getItem('key') &&  localStorage.getItem('secret')) {
            this.id = localStorage.getItem('id');
            this.hasData = true;
          }
        }
      })
    </script>